<!DOCTYPE html>
<html lang="en">
<head>
    {% if title %}
        <title>{{ title }}</title>
    {% else %}
        <title>Platform</title>
    {% endif %}
    
    
    {% block header %}
        {% include 'headers.html' %}
    {% endblock %}
    

</head>

<body>
    {% block content %}
    {% endblock %}
</body>

    {% block footer %}
        {% include 'footers.html' %}
    {% endblock %}
</html>