{% extends 'base.html' %}

{% block content %}

    {%  include 'nav.html' %}
    
    <div class="container-fluid pt-3 px-4">


            <div class="row px-4"> 
         
                    <!-- rendered data row --> 
                    <div class="d-flex row w-100"> 

                            <div class="col-7 px-1" >
                                <div class="d-flex mt-2 mb-1 align-items-center px-1"
                                 style="height: 6.5em;">
                                    <span id="resultspan"
                                    style="white-space: pre-line;"></span>
                                    </div>
                                
                                <!-- Rendered Image Frame --> 
                                <div class="px-0" style=""> 
                                    <img id="pImage" class="w-100" src="">   
                                    </div> 

                                </div> 
                            
                            <!-- ftp folders column -->
                            <div class="ml-auto col-5 px-0 pl-1"> 
                                <form method='post'> 
                                    <div class="d-flex row align-items-center mx-0 pt-3"> 
                                         
                                        <div class="input-group col-4 px-0"> 
                                            <div class="input-group-prepend"> 
                                                <span class="input-group-text" style="font-size:0.8em;">Host</span></div> 
                                                <input id="hostname" name="hostname" type="text" aria-label="Host Name" 
                                                    value='{{ hostname }}' 
                                                    class="form-control mr-1"> 
                                            </div> 
                                         
                                        <div class="input-group col-2 px-0"> 
                                            <div class="input-group-prepend"> 
                                                <span class="input-group-text" style="font-size:0.8em;">Port</span></div> 
                                                <input id="port" name="port" type="text" aria-label="Port" 
                                                    value='{{ port }}' 
                                                    class="form-control mr-1"> 
                                            </div> 
                                         
                                        <div class="input-group col-4 px-0"> 
                                            <div class="input-group-prepend"> 
                                                <span class="input-group-text" style="font-size:0.8em;" >Username</span></div> 
                                                <input id="username" name="username" type="text" aria-label="Username" 
                                                    value='{{ username }}' 
                                                    class="form-control mr-1"> 
                                            </div> 
             
                                        <button id="ftprefresh" class="h-100 col-2 px-0 btn btn-secondary" style="font-size:0.8em;" type="submit" 
                                        onclick="">Refresh FTP</button> 
                                         
                                        </div> 
             
                                    <div class="d-flex row align-items-center mt-2 mx-0 pb-2"> 
             
                                        <div class="input-group col-6 px-0">         
                                                <div class="input-group-prepend"> 
                                                    <span class="input-group-text" style="font-size:0.8em;" >Folder Path</span></div> 
                                                    <input id="folderpath" name="folderpath" type="text" aria-label="Folder Path" 
                                                    value='{{ folderpath }}' 
                                                    class="form-control mr-1"> 
                                                </div> 
             
                                        <div class="input-group col-4 px-0">         
                                            <div class="input-group-prepend"> 
                                                <span class="input-group-text" style="font-size:0.8em;" >Password</span></div> 
                                                <input id="password" name="password" type="password" aria-label="Password"  
                                                data-toggle="password" 
                                                value='{{ password }}' 
                                                class="form-control mr-1"> 
                                            </div> 
                                                 
                                        <button class="h-100 ml-auto col-2 px-0 btn btn-info" type="button" style="font-size:0.8em;"  
                                        onclick="processImage();">Process Image</button> 
             
                                        </div>
                                    
                                    <!-- modelfile-->
                                    <div class="d-flex row align-items-center mx-0 pb-2">
                                        <div class="input-group col-6 px-0"> 
                                            <div class="input-group-prepend"> 
                                                <label class="input-group-text" for="modelfile" style="font-size:0.8em;">Model File</label></div> 
                                                <select id="modelfile" class="custom-select" value='{{ modelfile }}' >
                                                    {% for f in modelfiles %}
                                                        <option value="{{ f }}"{% if f==modelfile %}selected="selected"{% endif %} >{{ f }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
             
                                </form> 

                                <!-- FTP File List Window --> 
                                <div class="p-0 border rounded" style="height:50vh; overflow: auto; white-space: nowrap;"> 
                                    <table id="foldertable" class="table table-borderless table-hover" style="font-size:0.75em;"> 
                                             
                                        {% for row in dir %} 
                                         
                                            {% if row[-4:]=='.jpg' %} 
                                                <tr class="filerows" id="image_{{loop.index}}" 
                                                    onclick="toggleRowColor(this); displayimage(this);"> 
                                                        <td><i class="fas fa-camera fa-lg mx-2"></i>{{ row }}</td> 
                                                </tr> 
                                            {% else %} 
                                                <tr class="folderrows" id="folder_{{loop.index}}" ondblclick="enterfolder(this);"> 
                                                        <td><i class="fas fa-folder fa-lg mx-2"></i>{{ row }}</td> 
                                                </tr> 
                                            {% endif %} 
                 
                                        {% endfor %} 
                                        </table> 
                                    </div> 


                            </div> 
                        
                        
                        </div> 
             
                    <!-- <div class="d-flex row m-0 p-0 w-100"> 
                        
             
                        
                        
                        
                        </div>  -->
                     
                </div>

    </div>
{% endblock %}

{% block footer %}
    {% include 'footers.html' %}
    {% include 'js.html' %}
{% endblock %}