<script> 
    //$('#image_1').oncl; 
    var selectedfilename = ""; 
    var selectedrowindex = "";

    if ($("#folderpath").val()!="/" && $("#folderpath").val()!=""){ 
         
        $("#foldertable").prepend(
        '<tr class="uparrow" id="uparrow" ondblclick="upfolder()";>'+ 
        '<td><i class="fas fa-level-up-alt fa-lg mx-2"></i>...</td>'+ 
        '</tr>') 
    } 
         
 
    function enterfolder(element){ 

        // get folder name 
        foldername = $('#'+element.id).text().trim(); 

        // get existing ftp folder path 
        existing_ftpfolder = $("#folderpath").val(); 

        // append folder path to existing ftp folder path. 
        new_ftpfolder = existing_ftpfolder + "/" + foldername 
        new_ftpfolder = new_ftpfolder.replace("//", "/") 
         
        // put path back to input holder 
        $("#folderpath").val(new_ftpfolder); 

        // trigger ftp refresh 
        $("#ftprefresh").click(); 

    } 

    function upfolder(){ 

        // get existing ftp folder path 
        existing_ftpfolder = $("#folderpath").val(); 

        // if path not at highest level... 
        if (existing_ftpfolder!="/" && existing_ftpfolder!=""){ 
            //remove 1 folder from backpath 
            new_ftpfolder = existing_ftpfolder.split("/"); 
            new_ftpfolder = new_ftpfolder.slice(0, -1).join("/").trim(); 

            // if its the highest level, append / 
            if (new_ftpfolder == ""){ 
                new_ftpfolder="/"; 
            } 
            //console.log(new_ftpfolder); 

            // put path back to input holder 
            $("#folderpath").val(new_ftpfolder); 

            // trigger ftp refresh 
            $("#ftprefresh").click(); 

        } 

    } 

    function toggleRowColor(element){ 

        // toggle selected row colors 
        $(".filerows").removeClass("bg-warning"); 
        $( "#"+element.id ).addClass("bg-warning");

        // update selected row index
        selectedrowindex = $(element).index();
        //set memory of selected file name 
        selectedfilename = $( "#"+element.id ).first().text().trim(); 
        //console.log(selectedfilename); 
    } 

    function displayimage(element){
        returnimagename = $( "#"+element.id ).first().text().trim();

        $.post("/displayimage",
                {filename: returnimagename, 
                folderpath: $("#folderpath").val(),
                hostname: $("#hostname").val(),
                port: $("#port").val(),
                username: $("#username").val(),
                password: $("#password").val(),
                }
                
            ).done(function(response) {

                d = new Date(); 
                $("#pImage").attr("src", 
                //'/static/assets/processedimage/'+response 
                "{{url_for('static',filename='assets/rawimage/')}}" 
                + response['image'] + "?"+d.getTime()
                ); 

                $("#resultspan").text($("#folderpath").val()+'/'+returnimagename); 

            }).fail(function() { 
                console.log("Error: failed on /displayimage POST call.") 
            }); 
    }
    
    function processImage(){ 
         
        $.post("/process",  
         
            {filename: selectedfilename, 
                folderpath: $("#folderpath").val(),
                modelfile: $("#modelfile").val()
                }
            ).done(function(response) { 

                if (response == ""){ 
                    console.log("No file selected.") 
                }else{ 
                    //console.log(response);
                    d = new Date(); 
                    $("#pImage").attr("src", 
                    //'/static/assets/processedimage/'+response 
                    "{{url_for('static',filename='assets/processedimage/')}}" 
                    + response['image'] + "?"+d.getTime()
                    ); 

                    $("#resultspan").text(response["resultstring"]); 
                     
                } 
             
            }).fail(function() { 
                console.log("Error: failed on /process POST call.") 
            }); 
    } 

    // add keyboard click for scrolling 
    $(document).keydown(function (e) {
        if(selectedrowindex == ""){
            selectedrowindex = 0
        }
        var rows = $('tr');
        switch(e.which) 
            {
                case 38:
                    selectedrowindex<=1 ? newindex=1 : newindex= selectedrowindex - 1;
                    rows.eq(newindex).trigger('click');
                    break;
                case 40:
                    newindex= selectedrowindex + 1;
                    rows.eq(newindex).trigger('click');
                    break;
            }
    });


    // add keyboard "p" for process
    $(document).keypress(function(e){
        if(e.which == 112){
            processImage();
        }
    });
</script>