<nav class="navbar navbar-expand-lg border-bottom d-flex align-items-center py-2">
    <div class="ml-3 d-flex align-items-center">
      <a class="navbar-brand" href="#">
        <img class="rounded p-1" src="{{ url_for('static', filename='assets/denkalogo.png') }}" height="50em" width="auto"
         alt="">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
    </div>
  </nav>